body {
     font-family: "Segoe UI", sans-serif;
     background: #eef2f3;
     padding: 40px;
        }

        input, button {
            padding: 10px;
            font-size: 16px;
        }

        ul {
            margin-top: 20px;
            padding: 0;
        }

        li {
            list-style: none;
            background: white;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        }